@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  font-family: 'Inter', sans-serif;
  /*-webkit-font-smoothing: antialiased;*/
}

.ant-table-thead > tr > th {
    color: #4B4B4B;
    background: #F4F4F4 !important;
}

.ant-select-selector {
    border-radius: 8px !important;
    height: 48px !important;
}

.ant-select-selection-item {
    margin: auto !important;
}

.ant-select-selection-placeholder {
    margin: auto !important;
}